// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#navbar{
	width: 100%;
	background-color: rgba(3, 56, 92, 0.37);
	height: 24px;
}

#navbar a{
	color : white;
	text-align: center;
	vertical-align: middle;
}

#userData{
	float:right;
}

#navbar img{
	vertical-align: text-top;
}