td {
//width: 150px;
text-align: center;
}

input{
	border-radius: 6px;
}

.fromField{
	float:left;
}

.toField{
	float: left;
	margin-left: 21px;
}

.filterAction{
	float: left;
	margin-top: 17px;
	margin-left: 7px;
}
    